In [2]:
# !pip install numpy==1.16 pandas==0.24.1

In [1]:
import pandas as pd
import numpy as np
# from StringIO import StringIO
# from tempfile import SpooledTemporaryFile
from io import StringIO

---

## Part 1: dropping timestamp duplicated rows (from 346232 to 7!)

In [2]:
fl = pd.read_csv("../data/train/A/envA191013_105149.csv")
print(fl.shape)
fl.head()

(346232, 8)

,ts,dr_pos,dr_vel,dr_acc,sub_pos,force_goal,force_ped,force_obj
0,11,"(1.024121289705064, 7.002321094768004, 0.97874...","(-0.01955687831662954, 0.00039889878422875985,...","(-0.034256485241798, 0.01125873600688488, -0.9...","(0.0, 0.0, 1.05)",0,0,0
1,11,"(1.024121289705064, 7.002321094768004, 0.97874...","(-0.01955687831662954, 0.00039889878422875985,...","(-0.034256485241798, 0.01125873600688488, -0.9...","(0.0, 0.0, 1.05)",0,0,0
2,11,"(1.024121289705064, 7.002321094768004, 0.97874...","(-0.01955687831662954, 0.00039889878422875985,...","(-0.034256485241798, 0.01125873600688488, -0.9...","(0.0, 0.0, 1.05)",0,0,0
3,11,"(1.024121289705064, 7.002321094768004, 0.97874...","(-0.01955687831662954, 0.00039889878422875985,...","(-0.034256485241798, 0.01125873600688488, -0.9...","(0.0, 0.0, 1.05)",0,0,0
4,11,"(1.024121289705064, 7.002321094768004, 0.97874...","(-0.01955687831662954, 0.00039889878422875985,...","(-0.034256485241798, 0.01125873600688488, -0.9...","(0.0, 0.0, 1.05)",0,0,0

In [11]:
x = fl.loc[:, "ts"] == 11
fl[x].shape

(8958, 8)

In [19]:
b = fl.drop_duplicates(subset=["ts"])

In [20]:
b

,ts,dr_pos,dr_vel,dr_acc,sub_pos,force_goal,force_ped,force_obj
0,11,"(1.024121289705064, 7.002321094768004, 0.97874...","(-0.01955687831662954, 0.00039889878422875985,...","(-0.034256485241798, 0.01125873600688488, -0.9...","(0.0, 0.0, 1.05)",0,0,0
8958,12,"(1.0194272125630843, 7.002694123826767, 0.9908...","(-0.03504777097296305, 0.0051647227351269654, ...","(-0.07719017524603078, 0.04046978581240604, -0...","(0.0, 0.0, 1.05)",0,0,0
64894,13,"(0.9345038828225293, 7.4015175360598695, 1.004...","(-0.11578348032147343, 1.03072449890329, 0.251...","(-0.4513501192755648, 2.046191963085864, 0.548...","(0.0, 0.0, 1.05)",0,0,0
123923,14,"(0.7165398402663145, 8.352428089254378, 1.0622...","(-1.043834822770311, -0.03584935254888738, 0.5...","(-1.9231188432864421, -1.2122397157346976, 0.9...","(0.0, 0.0, 1.05)",0,0,0
182181,15,"(-0.9274421014272989, 9.7080060197067, 1.35612...","(-2.2586111608206405, -1.3516030024325891, 0.0...","(-0.11836852344204729, 1.2692163001926104, -2....","(0.0, 0.0, 1.05)",0,0,0
237936,16,"(-1.409339956054388, 11.464712945826598, 1.368...","(-0.7682233989553022, 0.1410799986673219, -0.0...","(0.7727019032247595, 1.8664758286721095, 0.924...","(0.003548828500000745, 8.0, 1.0549999999996043)",0,0,0
295519,17,"(-0.5132720673360185, 11.239949357413336, 1.35...","(1.4497575876680977, 0.9547584345891251, 0.216...","(2.4817359416244855, -1.5774040293389247, -1.7...","(1.0109999999999992, 8.0, 1.05)",0,0,0

In [7]:
# also
fl.drop_duplicates(subset=["ts"], inplace=True)
fl

,ts,dr_pos,dr_vel,dr_acc,sub_pos,force_goal,force_ped,force_obj
0,11,"(1.024121289705064, 7.002321094768004, 0.97874...","(-0.01955687831662954, 0.00039889878422875985,...","(-0.034256485241798, 0.01125873600688488, -0.9...","(0.0, 0.0, 1.05)",0,0,0
8958,12,"(1.0194272125630843, 7.002694123826767, 0.9908...","(-0.03504777097296305, 0.0051647227351269654, ...","(-0.07719017524603078, 0.04046978581240604, -0...","(0.0, 0.0, 1.05)",0,0,0
64894,13,"(0.9345038828225293, 7.4015175360598695, 1.004...","(-0.11578348032147343, 1.03072449890329, 0.251...","(-0.4513501192755648, 2.046191963085864, 0.548...","(0.0, 0.0, 1.05)",0,0,0
123923,14,"(0.7165398402663145, 8.352428089254378, 1.0622...","(-1.043834822770311, -0.03584935254888738, 0.5...","(-1.9231188432864421, -1.2122397157346976, 0.9...","(0.0, 0.0, 1.05)",0,0,0
182181,15,"(-0.9274421014272989, 9.7080060197067, 1.35612...","(-2.2586111608206405, -1.3516030024325891, 0.0...","(-0.11836852344204729, 1.2692163001926104, -2....","(0.0, 0.0, 1.05)",0,0,0
237936,16,"(-1.409339956054388, 11.464712945826598, 1.368...","(-0.7682233989553022, 0.1410799986673219, -0.0...","(0.7727019032247595, 1.8664758286721095, 0.924...","(0.003548828500000745, 8.0, 1.0549999999996043)",0,0,0
295519,17,"(-0.5132720673360185, 11.239949357413336, 1.35...","(1.4497575876680977, 0.9547584345891251, 0.216...","(2.4817359416244855, -1.5774040293389247, -1.7...","(1.0109999999999992, 8.0, 1.05)",0,0,0

In [21]:
b.reset_index(inplace=True, drop=True)
b

,ts,dr_pos,dr_vel,dr_acc,sub_pos,force_goal,force_ped,force_obj
0,11,"(1.024121289705064, 7.002321094768004, 0.97874...","(-0.01955687831662954, 0.00039889878422875985,...","(-0.034256485241798, 0.01125873600688488, -0.9...","(0.0, 0.0, 1.05)",0,0,0
1,12,"(1.0194272125630843, 7.002694123826767, 0.9908...","(-0.03504777097296305, 0.0051647227351269654, ...","(-0.07719017524603078, 0.04046978581240604, -0...","(0.0, 0.0, 1.05)",0,0,0
2,13,"(0.9345038828225293, 7.4015175360598695, 1.004...","(-0.11578348032147343, 1.03072449890329, 0.251...","(-0.4513501192755648, 2.046191963085864, 0.548...","(0.0, 0.0, 1.05)",0,0,0
3,14,"(0.7165398402663145, 8.352428089254378, 1.0622...","(-1.043834822770311, -0.03584935254888738, 0.5...","(-1.9231188432864421, -1.2122397157346976, 0.9...","(0.0, 0.0, 1.05)",0,0,0
4,15,"(-0.9274421014272989, 9.7080060197067, 1.35612...","(-2.2586111608206405, -1.3516030024325891, 0.0...","(-0.11836852344204729, 1.2692163001926104, -2....","(0.0, 0.0, 1.05)",0,0,0
5,16,"(-1.409339956054388, 11.464712945826598, 1.368...","(-0.7682233989553022, 0.1410799986673219, -0.0...","(0.7727019032247595, 1.8664758286721095, 0.924...","(0.003548828500000745, 8.0, 1.0549999999996043)",0,0,0
6,17,"(-0.5132720673360185, 11.239949357413336, 1.35...","(1.4497575876680977, 0.9547584345891251, 0.216...","(2.4817359416244855, -1.5774040293389247, -1.7...","(1.0109999999999992, 8.0, 1.05)",0,0,0

In [ ]:
df.to_

---

## Part 2: loading data into a in-memory file object

In [37]:
import shutil

In [3]:
import csv

ff = StringIO()
writer = csv.writer(ff, delimiter=",")
writer.writerow(["uno"] * 6)

25

In [4]:
writer.writerow([1,1,1,1,1,1])

13

In [39]:
with open("hellothere.csv", "w") as f:
    ff.seek(0)
    shutil.copyfileobj(ff, f, -1)

In [41]:
ff.seek(0); ff.readlines()

['uno,uno,uno,uno,uno,uno\r\n', '1,1,1,1,1,1\r\n']

---

Combine the two sections above [:smiley:](https://gist.github.com/rxaviers/7360908)

In [6]:
ff.seek(0)
fl2 = pd.read_csv(ff)
print(fl2.shape)
fl2.head()

(1, 6)

   uno  uno.1  uno.2  uno.3  uno.4  uno.5
0    1      1      1      1      1      1